kotlin.code.style=official
org.gradle.daemon=true
org.gradle.jvmargs=-Xmx4096m -Dfile.encoding=UTF-8 -XX:+UseParallelGC
redischat.run.location=server/server1
redischat.version=1.18.2-0.0.1
maven.releases.repo.url=https://repo.modrealms.net/repository/maven-releases/
maven.snapshots.repo.url=https://repo.modrealms.net/repository/maven-snapshots/
maven.auth.username=
maven.auth.password=
